<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Question Detail</title>
    <link rel="stylesheet" href="/css/style_question_detail.css" media="screen">
    <link rel="icon"  type="/img/jpg" href="/img/favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@900&display=swap" rel="stylesheet">
</head>
<body>

<header id="encabezado">
    <div class="columna">
        <div id="divPreguntas"><a href="/preguntas/QuestionIndex/" id="botonPreguntas">Preguntas</a></div>
        <div id="divSinResponder"><input type="button" value="Sin responder" id="botonSinResponder"></div>
        <div id="divUsuarios"><input type="button" value="Usuarios" id="botonUsuarios"></div>
    </div>
    <div class="columna">
        <div id="titulo">
            <h1>
                FourZeroFour
            </h1>
        </div>
    </div>
    <div class="columna">
        <div id="divImgPerfil"><img src="/usuarios/ShowProfileImage/<%=user.email%>" id="imgPerfil"></div>
        <div id="divNombrePerfil"><span ><%=user.cuatrozerocuatro_name%></span></div>
        <div id="divDesconectar"><a href ="/usuarios/LogOut" id="botonDesconectar">Cerrar Sesion</a></div>
    </div>
</header>

<main class="search">
    <form form  action="/preguntas/QuestionByTextOrTag"  method="post"id="formulario">
            <span id="buscarFormInput"> <input type="submit" value="Buscar" id="searchButton">
                 <label for="searchButton"> <span>Buscar</span> <img src="/img/lupa.png" ></label>
            </span>
        <span id="textoSearchFormInput "><input type="text" name="textSearch"  placeholder="Buscar por titulo/cuerpo de pregunta" id="textForm" required></span>
        <span><input class="checkbox" id="checkbox"type="checkbox" name ="modoBusqueda"></span>
        <label for="checkbox"> <span class="checkbox"> Buscar Por Tag</span></label>
    </form>
</main>
<main id="contenido">

        <div id="tituloContenido"> <%=questions[0].title%></div>
        <div id="votosPregunta">5 votos</div>
        <div class="textoPregunta"><span><%=questions[0].text%></span></div>

            <div id="mainContenido">
        <% if (questions[0].answers==undefined){ %>
        <div>Sin Respuestas</div>
         <%} else { %>
        <% questions[0].answers.forEach(answer => { %>
            <div class="marginTop"> Respuesta</div>
            <div class="textoRespuesta"> <%= answer.text %> </div>
        <% });%>
    <%} %>
    <form action="/preguntas/AddAnswer" method="POST" id="formularioCreateQuestion">
        <input type="hidden" name="question_id" value="<%=questions[0].idp%>">
        <span>Nueva Respuesta</span>
        <div id="formTextCuerpo"><input placeholder="CuatroZeroCuatro vigila las respuestas, por una comunidad sana"  type="text" name="answer" id="textoFormCuerpo" required></div>

        <div id="formTextPublicarRespuesta"><input type="submit" value="Formular Respuesta" id="publicarButton"></div>

    </form>
            </div>

</main>

<footer>
    <img class="licenseImg" src="/img/license.png">
</footer>
</body>
</html>