<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Questions</title>
    <link rel="stylesheet" href="/css/style_questions.css" media="screen">
    <link rel="icon"  type="img/jpg" href="/img/favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@900&display=swap" rel="stylesheet">
</head>
<body>

<header id="encabezado">
    <div class="columna">
        <div id="divPreguntas"><a href="/preguntas/QuestionIndex/" id="botonPreguntas">Preguntas</a></div>
        <div id="divSinResponder"><a href="/preguntas/QuestionWithoutAnswer/" id="botonPreguntas">Sin Responder</a></div>
        <div id="divUsuarios"><input type="button" value="Usuarios" id="botonUsuarios"></div>
    </div>
    <div class="columna">
        <div id="titulo">
            <h1>
                FourZeroFour
            </h1>
        </div>
    </div>
    <div class="columna">

        <div id="divImgPerfil"><img src="/usuarios/ShowProfileImage/<%=user.email%>" id="imgPerfil"></div>
        <div id="divNombrePerfil"><span ><%=user.cuatrozerocuatro_name%></span></div>
        <div id="divDesconectar"><a href ="/usuarios/LogOut" id="botonDesconectar">Cerrar Sesion</a></div>
    </div>
</header>

<main class="search">
    <form form  action="/preguntas/QuestionByTextOrTag"  method="post"id="formulario">
            <span id="buscarFormInput"> <input type="submit" value="Buscar" id="searchButton">
                 <label for="searchButton"> <span>Buscar</span> <img src="/img/lupa.png" ></label>
            </span>
        <span id="textoSearchFormInput "><input type="text" name="textSearch"  placeholder="Buscar por titulo/cuerpo de pregunta" id="textForm" required></span>
        <span><input class="checkbox" id="checkbox"type="checkbox" name ="modoBusqueda"></span>
        <label for="checkbox"> <span class="checkbox"> Buscar Por Tag</span></label>
    </form>
</main>
<main id="contenido">
        <% if (model=="index"){ %>
        <span id="tituloContenido">Todas Las Preguntas</span>
        <%} else if(model==="sinresponder"){ %>
        <span id="tituloContenido">Preguntas Sin Respuesta</span>
        <%}else if(model==="buscar"){ %>
                <span id="tituloContenido">Preguntas Filtradas</span>
            <%} %>
    <div id = "cabeceraContenido">
        <span><%=questions.length%> preguntas</span>
        <a id="botonFormularPregunta" href="/preguntas/ShowCreateQuestion"  id="botonFormularPregunta">Formular Pregunta</a>
    </div>
    <div id="mainContenido">



        <% questions.forEach(question => { %>

        <div class="newQuestion">
            <div class = "nuevaPregunta"  >
                <span><%=question.title%></span>
                <% if (question.text.length > 300){ %>
                <%question.text = question.text.slice(0,300);%>
                <%}%>
                <p class="texto" ><%=question.text%></p>
                <% if (question.tags==undefined){ %>
                <tag>Sin Etiquetas</tag>
                <%} else { %>
                    <% question.tags.forEach(tag => { %>
                <tag> <%= tag %> </tag>
                        <% });%>
                <%} %>
                <form action="/preguntas/ShowQuestion" method="POST">
                    <input type="hidden" name="idnecesario" value=<%=question.idp%>>
                    <input type="submit" id="botonFormularPregunta" value="Ir a la Pregunta">
                </form>
            </div>
            <div class = "nuevaPreguntaUsuario" >
                <div class="fecha"><%=question.fecha%></div>
                <span2><img class="imagenUsuario "src="/usuarios/ShowProfileImageById/<%=question.idQuestion%>"></span2><br>
                <div class="cuatrozerocuatroname"><%=question.cuatrozerocuatro_name%></div>
            </div>

        </div>
        <% });%>

    </div>




</main>

<footer>
    <img class="licenseImg" src="/img/license.png">
</footer>
</body>
</html>