<!DOCTYPE html>
<html lang="en">

<%- include("partials/header_general") %>

<main class="search">
    <form form  action="/preguntas/QuestionByTextOrTag"  method="post"id="formulario">
            <span id="buscarFormInput"> <input type="submit" value="Buscar" id="searchButton">
                 <label for="searchButton"> <span>Buscar</span> <img src="/img/lupa.png" ></label>
            </span>
        <span id="textoSearchFormInput "><input type="text" name="textSearch"  placeholder="Buscar por titulo/cuerpo de pregunta" id="textForm" required></span>
        <span><input class="checkbox" id="checkbox"type="checkbox" name ="modoBusqueda" value="Buscar por Tag"></span>
        <label for="checkbox"> <span class="checkbox">Buscar Por Tag</span></label>
    </form>
</main>

<main id="contenidoQuestionsIndex">

        <% if (model=="index"){ %>
        <span id="tituloContenido">Todas Las Preguntas</span>
        <%} else if(model==="sinresponder"){ %>
        <span id="tituloContenido">Preguntas Sin Respuesta</span>
        <%}else if(model==="buscar"){ %>
                <span id="tituloContenido">Preguntas Filtradas</span>
            <%} %>

    <div id = "cabeceracontenidoQuestionsIndex">
        <span><%=questions.length%> preguntas</span>
        <a id="botonFormularPregunta" href="/preguntas/ShowCreateQuestion"  id="botonFormularPregunta">Formular Pregunta</a>
    </div>

    <div id="mainContenidoQuestionsIndex">

        <% questions.forEach(question => { %>

        <div class="newQuestion">
            <div class = "nuevaPregunta"  >
                <span><%=question.title%></span>
                <% if (question.text.length > 150){ %>
                <%question.text = question.text.slice(0,150);%>
                <%}%>
                <p class="texto" ><%=question.text%></p>
                <% if (question.tags==undefined){ %>
                <tag>Sin Etiquetas</tag>
                <%} else { %>
                    <% question.tags.forEach(tag => { %>
                <tag> <%= tag %> </tag>
                        <% });%>
                <%} %>
                <form action="/preguntas/ShowQuestion" method="POST">
                    <input type="hidden" name="idnecesario" value=<%=question.idp%>>
                    <input type="submit" id="botonFormularPregunta" value="Ir a la Pregunta">
                </form>
            </div>
            <div class = "nuevaPreguntaUsuario" >
                <div class="divfechaQuestion"><%=question.fecha%></div>
                <span2><img class="imagenUsuario "src="/usuarios/ShowProfileImageById/<%=question.idQuestion%>"></span2><br>
                <div class="cuatrozerocuatroname"><%=question.cuatrozerocuatro_name%></div>
            </div>

        </div>
        <% });%>

    </div>


</main>

<footer>
    <img class="licenseImg" src="/img/license.png">
</footer>
</body>
</html>