<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Questions</title>
    <link rel="stylesheet" href="/css/style_questions.css" media="screen">
    <link rel="icon"  type="img/jpg" href="/img/favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@900&display=swap" rel="stylesheet">
</head>
<body>

<header id="encabezado">
    <div class="columna">
        <div id="divPreguntas"><a href="/preguntas/QuestionIndex/" id="botonPreguntas">Preguntas</a></div>
        <div id="divSinResponder"><input type="button" value="Sin responder" id="botonSinResponder"></div>
        <div id="divUsuarios"><input type="button" value="Usuarios" id="botonUsuarios"></div>
    </div>
    <div class="columna">
        <div id="titulo">
            <h1>
                FourZeroFour
            </h1>
        </div>
    </div>
    <div class="columna">

        <div id="divImgPerfil"><img src="/usuarios/ShowProfileImage/<%=user.email%>" id="imgPerfil"></div>
        <div id="divNombrePerfil"><span ><%=user.cuatrozerocuatro_name%></span></div>
        <div id="divDesconectar"><a href ="/usuarios/LogOut" id="botonDesconectar">Cerrar Sesion</a></div>
    </div>
</header>

<main class="search">
    <form form action="" method="get" id="formulario">
            <span id="buscarFormInput"> <input type="button" value="Buscar" id="searchButton">
                 <label for="searchButton"> <span>Buscar</span> <img src="/img/lupa.png" ></label></span>
        <span id="textoSearchFormInput "><input type="text" placeholder="Buscar por titulo/cuerpo de pregunta" id="textForm"/></span>

    </form>
</main>
<main id="contenido">
    <span id="tituloContenido">Todas Las Preguntas</span>
    <div id = "cabeceraContenido">
        <span><%=questions.length%> preguntas</span>
        <a id="botonFormularPregunta" href="/preguntas/ShowCreateQuestion"  id="botonFormularPregunta">Formular Pregunta</a>
    </div>
    <div id="mainContenido">
        <% questions.forEach(question => { %>

        <div class="newQuestion">
            <div class = "nuevaPregunta" >
                <span><%=question.title%></span>
                <p class="texto"><%=question.text%></p>
                <% if (question.tags==undefined) { %>
                <tag>Sin Etiquetas</tag>
                <%} else { %>
                <tag><%=question.tags%></tag>
                <% } %>

            </div>
            <div class = "nuevaPreguntaUsuario" >
                <span>Formulada el 16/07/2019</span>
                <span2><img class="imagenUsuario "src="/usuarios/ShowProfileImageById/<%=question.idQuestion%>"></span2><br>
                <tag><%=question.cuatrozerocuatro_name%></tag>
            </div>

        </div>
    </div>
        <% })%>



</main>

<footer>
    <img class="licenseImg" src="/img/license.png">
</footer>
</body>
</html>