<!DOCTYPE html>
<html lang="en">

<%- include("partials/header_general") %>

<main class="search">
    <form form  action="/preguntas/QuestionByTextOrTag"  method="post"id="formulario">
            <span id="buscarFormInput"> <input type="submit" value="Buscar" id="searchButton">
                 <label for="searchButton"> <span>Buscar</span> <img src="/img/lupa.png" ></label>
            </span>
        <span id="textoSearchFormInput "><input type="text" name="textSearch"  placeholder="Buscar por titulo/cuerpo de pregunta" id="textForm" required></span>
        <span><input class="checkbox" id="checkbox"type="checkbox" name ="modoBusqueda"></span>
        <label for="checkbox"> <span class="checkbox"> Buscar Por Tag</span></label>
    </form>
</main>

<main id="contenidoCreateQuestionQuestionDetail">

        <div id="votosPregunta">0 votos</div>
        <div id="tituloQuestion"> <%=questions[0].title%></div>
        <div class="textoPregunta"><span><%=questions[0].text%></span></div>

    <div id="mainContenidoQuestionDetail">
        <% if (questions[0].answers==undefined){ %>
        <div>Sin Respuestas</div>
         <%} else { %>
        <% questions[0].answers.forEach(answer => { %>
            <div class="marginTopEntreRespuestas"> Respuesta publicada el <%=answer.fecha%></div>
            <div class="textoRespuesta"> <%= answer.text %> </div>
        <% });%>
    <%} %>
         <form action="/preguntas/AddAnswer" method="POST" class="formularioAddAnswer">
                <input type="hidden" name="question_id" value="<%=questions[0].idp%>">
                <div id="nuevarespuesta" >Nueva Respuesta</div>
                <div id="textoRespuesta"><input placeholder="CuatroZeroCuatro vigila las respuestas, por una comunidad sana"  type="text" name="answer" id="textoFormCuerpoAnswer" required></div>
                <div id="formTextPublicarRespuesta"><input type="submit" value="Formular Respuesta" id="publicarButton"></div>

         </form>
    </div>

</main>

<footer>
    <img class="licenseImg" src="/img/license.png">
</footer>
</body>
</html>